<%= form_tag "/users", method: :get, remote: true do %>
  <%= label_tag(:q, "Search user:") %>
  <%= text_field_tag(:q) %>
  <%= submit_tag("Search") %>
<% end %>
<div id="user_index_table">
  <%= render "user_index_table", users: @users %>
</div>
