<%= user_avatar @user, :large %>
<h3><%= @user.full_name %></h3>
<br>bio: <%= @user.bio || "no bio" %>
<br>website: <%= @user.website || "no website" %>
<br>phone: <%= @user.phone || "no phone" %>
<br>birthday: <%= @user.birthday || "no birthday" %>

<br><% if @user == current_user %>
  <%= link_to "Edit profile", [:edit, @user] %>
<% end %>
<h3>Images</h3>
<% @user.posts.each do |x| %>
  <span><%= link_to x do %><%= image_tag x.image_url, width: 100, height: 100 %><% end %></span>
<% end %>
