<div class="row">
  <div class="col-sm-4">
    <%= user_avatar @user, :large, class: "img-responsive" %>
  </div>
  <div class="col-sm-8">
    <h1><%= @user.full_name %></h1>
    <h3><%= @user.bio || "No bio set." %></h3>
    <h5>Website: <%= @user.website || "No website set." %></h5>
    <h5>Phone: <%= @user.phone || "No phone set." %></h5>
    <h5>Birthday: <%= @user.birthday || "No birthday set." %></h5>
    <% if @user == current_user %>
      <%= link_to "Edit profile", [:edit, @user], class: "btn btn-default" %>
    <% end %>
  </div>
</div>

<h3>Images</h3>

<%= render partial: "shared/image_grid", locals: {posts: @user.posts} %>
