<nav class="navbar navbar-default">
 <div class="container-fluid">
   <div class="navbar-header">
     <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
       <%= icon("bars") %>
     </button>
     <a class="navbar-brand" href="/">Image Host</a>
   </div>
   <div class="collapse navbar-collapse" id="navbar">
     <ul class="nav navbar-nav">
       <li><%= link_to "Users", "/users" %></li>
       <li><%= link_to "Posts", "/posts" %></li>
       <li><%= link_to "Albums", "/albums" %></li>
       <li>
         <%= form_tag "/users", method: :get do %>
           <%= label_tag(:q, "Search user:") %>
           <%= text_field_tag(:q) %>
           <%= submit_tag("Search") %>
         <% end %>
       </li>
     </ul>
     <ul class="nav navbar-nav navbar-right">
       <% if signed_in? %>
         <li><%= link_to "New post", "/posts/new" %></li>
         <li><%= link_to "New album", "/albums/new" %></li>
         <li><%= link_to current_user do %><%= user_avatar current_user, :small %><% end %></li>
         <li><%= link_to "Sign out", "/sign_out", method: :delete %></li>
       <% else %>
         <li><a href="#" data-toggle="modal" data-target="#modal-sign-up">Sign up</a></li>
         <li><a href="#" data-toggle="modal" data-target="#modal-sign-in">Sign in</a></li>
       <% end %>
     </ul>
   </div>
 </div>
</nav>
