<h1><%= @album.title %></h1>
<p><%= @album.description %></p>

<h3>Photos</h3>

<%= render partial: "shared/image_grid", locals: {posts: @album.posts} %>

<div class="row"></div>
<% if @album.user == current_user %>
  <%= link_to "Edit album", [:edit, @album], class: "btn btn-default" %>
  <%= button_to "Delete album", @album, method: :delete, class: "btn btn-danger" %>
<% end %>
