<!DOCTYPE html>
<html>
  <head>
    <%= render "shared/head" %>
  </head>

  <body>
    <%= render "shared/modals" %>
    <%= render "shared/navbar" %>
    <div id="content" class="container-fluid">
      <%= render "shared/flash"  %>
      <%= yield %>
    </div>
  </body>
</html>
