<!DOCTYPE html>
<html>
  <head>
    <%= render "shared/head" %>
  </head>

  <body>
    <%= render "shared/modals" %>
    <%= render "shared/navbar" %>
    <%= render "shared/flash"  %>
    <%= yield %>
  </body>
</html>
