<!DOCTYPE html>
<html>
  <head>
    <title>ImageHost</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div>
      <% flash.each do |x| %>
        <%= x %>
      <% end %>
    </div>
    <div>
      <% if signed_in? %>
        <%= current_user.email %>
        <%= link_to "Sign out", "/sign_out", method: :delete %>
      <% else %>
        <%= link_to "Sign in", "/sign_in" %>
        <%= link_to "Sign up", "/users/new" %>
      <% end %>
    </div>
    <%= yield %>
  </body>
</html>
